@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

:root {
    --primary-color: #7C3AED;
    --dark-gray: #6b768d;
    --off-white: #E5E7EB;
    --light-gray: #9CA3AF;
    --light-red: #FCA5A5;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    /*font-family: 'Hind Siliguri', sans-serif;*/
    margin: 0px;
}
.header {
    height: 10vh;
    width: 100%;
    background-color: #9be0e9;
    position:relative;
    font-size: large;
}



.logo{
    margin: 0 20px 0 5%;
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.help{
    margin: 0 20px 0 12%;
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login {
    margin : 20px 5% 20px 20px;
    width: 100px;
    height: 50px;
    float: right;
    background-color: rgb(78, 197, 78);
    border-radius: 20px;  
    border-style: none;
    color: white;
}

.main-body p {
    margin:0 50px 0 50px;
}

.body {
    position: relative;
    min-height: 100vh;
}

.main-body img {
    margin:50px ;
    width: 500;
    height: 500;
}

.login-body, .signup-body {
    background-color: #77aa77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(111,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(98,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.login-form {
    width: 600px;
    height: 600px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 2.5rem;
    
}

.login-form p,a {
    font-size: small;
}

.login-form input {
    width: 80%;
    height: 25px;
    margin: 20px;
    padding: 12px 20px;
    background-color: floralwhite;
}

.login-form input:focus {
    background-color: rgb(170, 235, 243, 0.2);
}
.submit {
    width: 80%;
    height: 50px;
    margin: 20px;
    background-color: #6b768d;
    color: white;
    font-size: large;
    text-align: center;
    border-radius: 40px;
}

.choice {
    text-align: center;
    margin-top: 5%;
}

.images {
    display: flex;
    justify-content: center;
}
.images img{
    width: 500px;
    height : 500px;
}
.images figure {
    display: inline;
}

.signup-form-buyer {
    width: 600px;
    height: 750px;
    background-color: white;
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;   
    padding-bottom: 2.5rem;
}


.signup-form-seller {
    width: 600px;
    height: 850px;
    background-color: white;
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;   
    padding-bottom: 2.5rem;
}
.name {
    display :inline-block;
    width: 35%;
    height: 25px;
    padding: 12px 20px; 
    margin : 5px;
}
.inp {
    width: 80%;
    height: 25px;
    margin: 15px;
    padding: 12px 20px;  
}

.contact {
    display :inline-block;
    width: 35%;
    height: 25px;
    padding: 12px 18px; 
    margin : 5px;
}

.info {
    margin: 10% 0 0 20%;
}

footer {
    /* width: 100%;
    height : 10vh;
    background-color: #9be0e9;
    text-align: center;
    bottom: 0; */
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;  
  text-align: center;
  background-color: #9be0e9;
}

.content {
    margin-top: 3vh;
}